body {
  margin: 0;
}

.header1 {
  font-family: "DM Sans", sans-serif;
  background-color: #60267f;
  display: flex;
  justify-content: center;
  height: 30.44px;
}

.header1 p {
  color: white;
  text-align: center;
  font-size: 8.18px;
  margin-left:0;
  margin-bottom: 20px;
}
 .underline:hover {
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
  }
.underline {
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
  padding-left: 3px;
}

header {
  box-shadow: 0px 2.2009999752044678px 2.2009999752044678px #0000000f;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 3;
}
.headercontainer {
  display: flex;
  justify-content: left;
}

header div p {
  font-family: "Comfortaa", cursive;
  color: #9a54bc;
  font-size: 39.17px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 16px;
  margin-left: 62.94px;
}

header div {
  width: 100%;
}

header div ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-right: 20px;
  padding-top: 10px;
}

header div ul li:hover {
  font-size: larger;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
  cursor: pointer;
}

header div ul li:nth-last-child(1) {
  margin-top: -10px;
}

.headerbutton {
  background-color: white;
  border: 1px solid #9a54bc;
  border-radius: 3px;
  height: 40px;
  width: 120px;
  cursor: pointer;
}

.buttonhover {
  transition: all 0.3s ease-in-out;
}

.buttonhover::after {
  box-shadow: 0 7px 15px #60267f;
  transition: all 0.3s ease-in-out;
}

.buttonhover:hover {
  transform: scale(1.2, 1.2);
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 40.28px;
  font-weight: 500;
  text-align: center;
  margin-top: 100px;
}

.button2 {
  background-color: #9a54bc;
  border: 1.48px solid #9a54bc;
  border-radius: 3px;
  height: 46.58px;
  width: 160.51px;
  cursor: pointer;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 0px 4.4019999504089355px 8.803999900817871px 0px #0000001a;
}

.divbutton2 {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  transition: all 0.3s ease-in-out;
}

.divbutton2::after {
  box-shadow: 0 7px 15px #60267f;
  transition: all 0.3s ease-in-out;
}

.divbutton2:hover {
  transform: scale(1.2, 1.2);
}

.divcollab {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.collab {
  width: 174.37px;
  height: 337.81px;
  border: 1.32px solid #9a54bc;
  border-radius: 4.86px;
  background-color: white;
  color: #9a54bc;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-weight: 500;
  font-size: 39.17px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0.22379617393016815px 0.5967897772789001px 0px #b8d8f240;
  margin-bottom: 40px;
}

.collab p {
  margin-top: auto;
  margin-bottom: auto;
}

.button3 {
  background-color: white;
  border: 1.48px solid #9a54bc;
  border-radius: 2.96px;
  height: 38.4px;
  width: 160.51px;
  cursor: pointer;
  color: #9a54bc;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  box-shadow: 0px 4.4019999504089355px 8.803999900817871px #0000001a;
}

.divbutton3 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.divbutton3::after {
  box-shadow: 0 7px 15px #60267f;
  transition: all 0.3s ease-in-out;
}

.divbutton3:hover {
  transform: scale(1.2, 1.2);
}

.ellipse1 {
  width: 569.68px;
  height: 569.68px;
  background-color: #f5e1ff4d;
  border-radius: 9999px;
  z-index: -1;
  position: absolute;
}

.ellipse2 {
  width: 338.67px;
  height: 338.67px;
  background-color: #f5e1ffcc;
  border-radius: 9999px;
  position: relative;
  left: 110px;
  top: 30px;
}

.ellipses {
  height: 569.68px;
  width: 569.68px;
  z-index: -1;
  position: absolute;
  top: 454.52px;
}

.section1 {
  display: flex;
  justify-content: center;
}

.container3 {
  margin-top: 100px;
}

.trusted {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 30.22px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 40px;
}
.icons button {
  cursor: pointer;
  border: 0;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.icons button::after {
  box-shadow: 0 7px 15px #60267f;
  transition: all 0.3s ease-in-out;
}

.icons button:hover {
  transform: scale(1.2, 1.2);
}
.apphelp {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}


div.table {
  width: 481.62px;
}

.tablehead {
  width: 441.62px;
  height: 48.4px;
  background-color: white;
  display: flex;
  justify-content: left;
  box-shadow: 0px 4.4019999504089355px 8.803999900817871px #0000001a;
}

.vendor {
  width: 206.96px;
  height: 43.36px;
  background-color: #60267f;
  border: 1.65px solid #9a54bc;
  border-radius: 2.47px;
  color: white;
  font-size: 13.1px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-left: 2px;
  margin-top: 3px;
  transition: all 0.3s ease-in-out;
}

.vendor::after {
  box-shadow: 0 7px 15px #9a54bc;
  transition: all 0.3s ease-in-out;
}

.vendor:hover {
  transform: scale(1.2, 1.2);
}

.site {
  width: 234.66px;
  background-color: white;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14.1px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.site::after {
  box-shadow: 0 7px 15px white;
  transition: all 0.3s ease-in-out;
}

.site:hover {
  transform: scale(1.2, 1.2);
}

.boxgrey {
  background-color: #f2f2f2;
  width: 377.69px;
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
  margin-top: 20px;
  font-size: 13.58px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
}

.boxgrey2 {
  background-color: #f2f2f2;
  width: 377.69px;
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
  margin-top: 20px;
  font-size: 13.58px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
}

.seemore {
  border: 0;
  background-color: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.seemore::after {
  box-shadow: 0 7px 15px #f2f2f2;
  transition: all 0.3s ease-in-out;
}

.seemore:hover {
  transform: scale(1.2, 1.2);
}

.nexttotable {
  width: 254.34px;
  height: 480.05px;
}

.middle {
  display: flex;
  justify-content: center;
}

.img13 {
  z-index: -1;
  position: absolute;
}

.play {
  width: 73.95px;
  height: 73.95px;
  position: relative;
  top: 120px;
}
.projects {
  margin-top: 100px;
}


.rowimages {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.words {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11.45px;
  color: #60267f;
  cursor: pointer;
  margin-left: 10px;
}
.words:hover {
  font-size: large;
}

.numbers {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11.45px;
  margin-left: 10px;
}

.choose {
  display: flex;
  justify-content: center;
  color: #a79d9d;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15.1px;
}

.choose p {
  display: flex;
  margin: 0;
}

.monthly {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #a79d9d;
  font-size: 15.1px;
  font-weight: 500;
}

.yearly {
  display: flex;
  justify-content: center;
  font-size: 15.1px;
  font-weight: 500;
  padding-left: 20px;
  color: #2b0236;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

.discount {
  font-size: 8.81px;
  color: black;
  align-items: center;
  background-color: #ffe87a;
  width: 64.84px;
  height: 11.01px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 10px;
  margin-left: 5px;
}

.greenbutton {
  border-radius: 7px;
}

.whitesq {
  border-radius: 50%;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.justify {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 15.58px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.justify img {
  width: 20.15px;
  height: 20.15px;
}

.justify p {
  margin: 10px;
}

.rec {
  width: 220.25px;
  border: 0.44px solid #aaaaaa;
  border-radius: 6.16px;
  padding-left: 28px;
  padding-bottom: 20px;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18.37px;
}

.rs {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 38.22px;
}

.recbutton {
  width: 190.52px;
  height: 46.58px;
  background-color: white;
  color: #2b0236;
  border: 1.48px solid #2b0236;
  border-radius: 2.96px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18.88px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.recbutton::after {
  box-shadow: 0 7px 15px white;
  transition: all 0.3s ease-in-out;
}

.recbutton:hover {
  transform: scale(1.2, 1.2);
}

.extra {
  margin-top: 50px;
}

.unlock {
  width: 190.52px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14.33px;
}

.enterprise {
  background-color: #56e6a5;
}

.boxes {
  margin-top: 60px;
}

.stars {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

.lorem {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: center;
}

.loremtext {
  width: 717.62px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15.1px;
}
.svgbutton {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.svgbutton::after {
  box-shadow: 0 7px 15px white;
  transition: all 0.3s ease-in-out;
}

.svgbutton:hover {
  transform: scale(1.2, 1.2);
}
.photo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.photo img {
  width: 72.95px;
  height: 72.95px;
  border-radius: 50%;
}

.designation {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15.1px;
  padding-bottom: 100px;
}

.container5 {
  padding-top: 100px;
}

.zindex {
  position: absolute;
  height: 1507.8px;
  z-index: -1;
  display: flex;
  justify-content: right;
  width: 100%;
  overflow: hidden;
}

.rec2 {
  width: 100%;
  height: 666.48px;
  background-color: #e2bdf21c;
  position: absolute;
  top: 840px;
}
.rec3 {
  width: 100%;
  height: 858.9px;
  background-color: #e2bdf21c;
  position: absolute;
}
.absoluterec {
  height: 927.9px;
  width: 70%;
  background-color: white;
  position: absolute;
  top: 500px;
  left: 450px;
  margin: 0;
  overflow: hidden;
}

.paragraph {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15.1px;
}
.paragraph p {
  width: 765.22px;
}
.buttonexplore {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.explore {
  width: 190.52px;
  height: 46.58px;
  background-color: #9a54bc;
  border-radius: 2.96px;
  border: 1.48px solid #9a54bc;
  font-family: "Roboto", sans-serif;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.explore::after {
  box-shadow: 0 7px 15px white;
  transition: all 0.3s ease-in-out;
}

.explore:hover {
  transform: scale(1.2, 1.2);
}
.imagestogether {
  display: flex;
  justify-content: center;
}

.imagevector {
margin-left:-430px;
position: absolute ;
width: 904.49px;
height: 226.11px;
color:#9A54BC;
}
.relativephotos {
position:absolute;

}
.relative1 {
  position: absolute;
  left:-470px;
  top:-50px
}
.relative1 img,
.relative2 img,
.relative3 img,
.relative4 img,
.relative5 img,
.relative6 img,
.relative7 img,
.relative8 img {
width: 96.95px;
height:96.95px
}
.relative2 {
  position: absolute;
top:100px;
left:-380px
}
.relative3 {
  position: absolute;
  top: 80px;
  left:-190px;
}
.relative4 {
  position: absolute;
  top: 150px;
  left:-90px;
}
.relative5 {
  position: absolute;
  top: 160px;
  left:60px;
}
.relative6 {
  position: absolute;
left:210px;
top:130px;
}
.relative7 {
  position: absolute;
left:350px;
top:150px;
}
.relative8 {
  position: absolute;
left:400px;
top: 70px
}
.relative9 {
  position: absolute;
left:330px;
top:40px;
color:#9A54BC;
font-family: "DM Sans", sans-serif;
font-weight: 500;
font-size: 15.1px;
}
.section6 {
  margin-top: 300px;  
}
.containerpurple{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #9A54BC;
  color:white;
  font-family: "Roboto", sans-serif;
  font-size: 47.85px;
}
.containerpurple p {
  margin-bottom: 20px;
  margin-top: 100px;
  font-weight: 600;
}
.containerpurple button {
  width: 160.52px;
  height: 46.58px;
  border: 1.48px solid white;
  background-color: #9A54BC;
  font-size: 15.1px;
  font-family: "Roboto", sans-serif;
  color:white;
  border-radius: 2.96px;
  font-weight: 700;
  margin-bottom: 100px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.containerpurple button::after {
  box-shadow: 0 7px 15px white;
  transition: all 0.3s ease-in-out;
}

.containerpurple button:hover {
  transform: scale(1.2, 1.2);
}
.containerpurple button:nth-child(1) {
  width: 160.52px;
  height: 46.58px;
  border: 1.48px solid white;
  background-color: white;
  font-size: 15.1px;
  font-family: "Roboto", sans-serif;
  color:#9A54BC;
  border-radius: 2.96px;
}
.threebuttons {
  display: flex;
  justify-content: center;
  gap:40px;
}

.containerpink {
display: flex;
justify-content: center;
background-color: #E2BDF21C;
}
.align {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
}
.containerpink p {
  font-size: 15.1px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
text-align: center;
}
.containerpink p:nth-child(1) {
  font-size: 30.22px;
}

.footercontainer {
  width: 100%;
}
.footercollab {
  font-size: 39.17px;
  font-family: "Comfortaa", cursive;
  font-weight: 500;
  color: #9A54BC;
  margin-bottom: 0px;
}

p.footercollab {
margin: 0;
}
.colorabsolute {
  background-color: #E2BDF21C;
  position: absolute;
  height: 340px;
  width: 100%;
  margin-top: 39px;
  z-index: -1;
}

.twocolumns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.firstcolumn p {
  width: 319.78px;
}
.firstcolumn p:nth-child(2) {
  font-size: 20.15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.firstcolumn img {
  width: 37.77px;
  height: 37.77px;
}
.follow {
    font-weight: 500;
    font-size: 20.15px;
    font-family: "Roboto", sans-serif;
}

.firstcolumn {
  margin-top: -45px;
}
.imagesicons {
  display: flex;
  justify-content: left;
  gap:60px;
}
.imagesicons button {
  cursor: pointer;
  border:0;
  background-color: #E2BDF21C;
  z-index: 1;
  width: 0;
  height: 0;
  border-radius: 50%;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.imagesicons button::after {
  box-shadow: 0 7px 15px #E2BDF21C;
  transition: all 0.3s ease-in-out;
}

.imagesicons button:hover {
  transform: scale(1.2, 1.2);
}
.list {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  gap:100px;
}
.list ul {
  padding-left: 0;
}
.list ul li {
  padding-bottom: 20px;
  font-weight: 400;
  color:#60267F;
  font-size: 16.37px;
}

.list ul li:hover {
  text-decoration: underline ;
}
.list ul li:nth-child(1){
  font-weight: 600;
  font-size: 17.63px;
  font-family: "Roboto", sans-serif;
  color:black;
  cursor:default;
  text-decoration: none;
}
.contactus {
  display: flex;
  justify-content: left;
  gap:60px;
  font-weight: 600;
  font-size: 17.63px;
  font-family: "Roboto", sans-serif;
  color:black;

}
.contactus p:nth-last-child(1){
  font-weight: 400;
  color:#60267F;
  font-size: 16.37px;
  cursor: pointer;
}
.contactus p:nth-last-child(1):hover {
  text-decoration: underline;
}
.absolutepurple {
  width: 100%;
  background-color: #60267F;
  position: relative bottom;
  display: flex;
  justify-content: center;
  color:white;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 15.1px;
  margin-top: 100px;
}
a{
  text-decoration: none;
  color: inherit;
  height: 100vh;
}
section{
  padding-top: 100px;
}
footer {
  padding-top: 200px;
}
.pointer {
  cursor: pointer;
}
.pointer:hover {
  text-decoration: underline;
}